<section id="comments">
    <div class="comments-for-post">
        <div class="row notices">
        </div>

        <div class="list-of-comments">
            <article class="comment comment-post-grid">
                <div class="author-info">

                </div>
                <div class="content">
                    <div class="body dtext-container">
                        <div class="styled-dtext" style="padding:2em">
                            <input selected type="text" [(ngModel)]="currentTypedGuess" name="currentTypedGuess" (keyup.enter)="tryGuess()"> &nbsp;
                            <button (click)="tryGuess()" [disabled]="gameService.tries_left<=0 || gameService.sauceShown">Guess!</button>&nbsp;
                            <button (click)="gameService.showSauce()" [disabled]="gameService.sauceShown">Just show me the sauce</button>&nbsp;
                            <button (click)="playAgain()" [disabled]="gameService.tries_left<=0 || gameService.sauceShown">Skip</button>
                            <br>
                            <p *ngIf="!gameService.sauceShown">{{lastMatched}}</p>
                            <a href="https://e621.net/posts/{{gameService.currentPost?.id}}" *ngIf="gameService.sauceShown">Go to post</a>
                            <br>
                            <div style="display: flex">
                                <div *ngFor="let item of [].constructor(gameService.maxTries); let i = index">
                                    <h2 *ngIf="gameService.tries_left>i" style="color: rgba(138, 138, 138, 0.705);">X&nbsp;</h2>
                                    <h2 *ngIf="!(gameService.tries_left>i)" style="color: rgba(184, 0, 0, 0.705);">X&nbsp;</h2>
                                </div>
                            </div>
                            <br>
                            <button *ngIf="gameService.tries_left<=0 || gameService.sauceShown" (click)="playAgain()">Play again</button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>