<header id="top">
    <div id="maintoggle">
        <a href="#"><i id="maintoggle-on" class="fas fa-bars"></i></a>
        <a href="#"><i id="maintoggle-off" class="fas fa-times" style="display: none;"></i></a>
    </div>

    <nav id="nav">
        <menu class="main">
            <li id="nav-e" class=" current"><a id="nav-e-link" href="/">e6 feud</a></li>
            <li id="nav-sign-in"><a id="nav-sign-in-link" href="/session/new">Play</a></li>
            <li id="nav-posts"><a id="nav-posts-link" href="/posts">About</a></li>
            <!--<li id="nav-comments"><a id="nav-comments-link" href="/comments?group_by=post">Comments</a></li>
            <li id="nav-artists"><a id="nav-artists-link" href="/artists">Artists</a></li>
            <li id="nav-tags"><a id="nav-tags-link" href="/tags">Tags</a></li>
            <li id="nav-blips"><a id="nav-blips-link" href="/blips">Blips</a></li>
            <li id="nav-pools"><a id="nav-pools-link" href="/pools/gallery">Pools</a></li>
            <li id="nav-sets"><a id="nav-sets-link" href="/post_sets">Sets</a></li>
            <li id="nav-wiki"><a id="nav-wiki-link" href="/wiki_pages?title=help%3Ahome">Wiki</a></li>
            <li id="nav-forum"><a id="nav-forum-link" href="/forum_topics">Forum</a></li>
            <li id="nav-help"><a id="nav-help-link" href="/help">Help</a></li>
            <li id="nav-more"><a id="nav-more-link" href="/static/site_map">More »</a></li>-->
        </menu>

        <!--<menu>
            <li id="subnav-listing"><a id="subnav-listing-link" href="/posts">Listing</a></li>
            <li id="subnav-upload"><a id="subnav-upload-link" href="/uploads/new">Upload</a></li>
            <li id="subnav-hot"><a id="subnav-hot-link" href="/posts?d=1&amp;tags=order%3Arank">Hot</a></li>
            <li id="subnav-popular"><a id="subnav-popular-link" href="/explore/posts/popular">Popular</a></li>
            <li id="subnav-changes"><a id="subnav-changes-link" href="/post_versions">Changes</a></li>
            <li><a href="#" id="blacklist-edit-link">Blacklist</a></li>
            <li id="subnav-help"><a id="subnav-help-link" href="/help/posts">Help</a></li>
        </menu>-->

    </nav>

</header>

<router-outlet></router-outlet>