<header id="top">
    <div id="maintoggle">
        <a href="#"><i id="maintoggle-on" class="fas fa-bars"></i></a>
        <a href="#"><i id="maintoggle-off" class="fas fa-times" style="display: none;"></i></a>
    </div>

    <nav id="nav">
        <menu class="main">
            <li id="nav-e" class=" current"><a id="nav-e-link" routerLink="/">e6 feud</a></li>
            <li id="nav-sign-in"><a id="nav-sign-in-link">Play</a></li>
            <li id="nav-posts"><a id="nav-posts-link">About</a></li>
        </menu>

    </nav>

</header>

<router-outlet *ngIf="!loadingState.loading"></router-outlet>
<app-loading-screen *ngIf="loadingState.loading"></app-loading-screen>